@font-face {
	font-family: 'Montserrat Bold';
	src: url('../fonts/Montserrat-Bold.otf');
}

@font-face {
	font-family: 'Montserrat Regular';
	src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'PlayfairDisplay Regular';
	src: url('../fonts/Playfair Display.ttf');
}

/*1900*7978   360浏览器*/
@media screen and (min-width: 1601px) {
	.index-page-left{height: 7978px;}
	.index-body{height: 7978px;}
	.index-page-right{height: 7978px;}
	.footer-email-logo{top: 63.20%;}
	.footer-social{width: 40%;left: 32.43%;}
	.footer-copyright-text{left: 43.57%;}
	.index-featurealbum-info-time{top: 12.10%;left: 11.60%;}
	.index-featurealbum-bg-text{font-size: 16px;}
	.index-featurealbum-bg-text a{font-size: 16px;}
	.index-featurealbum-album-about{font-size: 14px;width: 31.26%;line-height:30px;}
	.index-featurealbum-album-name{font-size: 50px;}
	.index-featurealbum-album-song{font-size: 16px;}
	.index-featurealbum-album-singer{font-size: 14px;}
	.index-featurealbum-album-currenttime{font-size: 14px;}
	.index-featurealbum-album-totalltime{font-size: 14px;}
	.list-item-song{font-size: 16px;}
	.list-item-singer{font-size: 14px;}
	.list-item-time{font-size: 16px;}
	.list-item-buy{font-size: 14px;}
	.index-biosection-text{font-size: 14px;	line-height:30px;}
	.hbtn {font-size: 18px;top: 68.37%;left: 9.17%;}
	.index-release-text{font-size: 16px;top: 17.60%;line-height: 30px;}
	.release-song{top: 89.90%;font-size: 18px;}
	.release-singer{font-size: 16px;}
	.release-date{font-size: 18px;}
	.news-title{font-size: 20px;}
	.news-time{font-size: 16px;}
	.news-about{font-size: 14px;}
	.hbtn2 {font-size: 18px;top: 84.57%;left: 59.68%;}
	.index-connect-about{font-size: 14px;line-height: 30px;}
	.message-item-text{font-size: 18px;}
	.message-text{font-size: 18px;}
	.hbtn3{font-size: 18px;top: 80.57%;left: 34.78%;}
	.index-connect-follow{font-size: 14px;left: 45.96%;}
	.index-connect-follow a{font-size: 14px;}
}
/* css注释：设置了浏览器宽度不小于1601px时的样式*/

/*1520*6382   chrome浏览器*/
@media screen and (max-width: 1600px) {
	.index-page-left{height: 6382px;}
	.index-body{height: 6382px;}
	.index-page-right{height: 6382px;}
	.footer-email-logo{top: 63.20%;}
	.footer-social{width: 40%;left: 32.43%;}
	.footer-copyright-text{left: 43.57%;}
	.index-featurealbum-info-time{top: 13.10%;left: 10.70%;}
	.index-featurealbum-bg-text{font-size: 12px;}
	.index-featurealbum-bg-text a{font-size: 12px;}
	.index-featurealbum-album-about{font-size: 14px;width: 38.26%;line-height:30px;}
	.index-featurealbum-album-name{font-size: 50px;}
	.index-featurealbum-album-song{font-size: 14px;}
	.index-featurealbum-album-singer{font-size: 12px;}
	.index-featurealbum-album-currenttime{font-size: 12px;}
	.index-featurealbum-album-totalltime{font-size: 12px;}
	.list-item-song{font-size: 14px;}
	.list-item-singer{font-size: 12px;}
	.list-item-time{font-size: 14px;}
	.list-item-buy{font-size: 12px;}
	.index-biosection-text{font-size: 10px;	line-height:25px;}
	.hbtn {font-size: 14px;top: 65.37%;left: 6.87%;}
	.index-release-text{font-size: 14px;top: 16.60%;line-height: 25px;}
	.release-song{top: 90.00%;font-size: 14px;}
	.release-singer{font-size: 12px;}
	.release-date{font-size: 14px;}
	.news-title{font-size: 16px;}
	.news-time{font-size: 12px;}
	.news-about{font-size: 10px;}
	.hbtn2 {font-size: 14px;top: 84.57%;left: 57.08%;}
	.index-connect-about{font-size: 18px;line-height: 25px;}
	.message-item-text{font-size: 14px;}
	.message-text{font-size: 14px;}
	.hbtn3{font-size: 14px;top: 80.57%;left: 31.08%;}
	.index-connect-follow{font-size: 10px;left: 44.96%;}
	.index-connect-follow a{font-size: 10px;}
}

/*1200*5039    平板手机*/
@media screen and (max-width: 980px) {
	.index-page-left{height: 4115px;}
	.index-body{height: 4115px;}
	.index-page-right{height: 4115px;}
	.footer-email-logo{top: 60.20%;}
	.footer-social{width: 70%;left: 20%;}
	.footer-copyright-text{left: 40.57%;}
	.index-featurealbum-info-time{top: 16.10%;left: 8.90%;}
	.index-featurealbum-bg-text{font-size: 8px;}
	.index-featurealbum-bg-text a{font-size: 8px;}
	.index-featurealbum-album-about{font-size: 8px;width: 38.26%;line-height:15px;}
	.index-featurealbum-album-name{font-size: 30px;}
	.index-featurealbum-album-song{font-size: 10px;}
	.index-featurealbum-album-singer{font-size: 8px;}
	.index-featurealbum-album-currenttime{font-size: 8px;}
	.index-featurealbum-album-totalltime{font-size: 8px;}
	.list-item-song{font-size: 10px;}
	.list-item-singer{font-size: 8px;}
	.list-item-time{font-size: 9px;}
	.list-item-buy{font-size: 8px;}
	.index-biosection-text{font-size: 6px;	line-height:15px;}
	.hbtn {font-size: 9px;top: 65.37%;left: -1%;}
	.index-release-text{font-size: 8px;top: 16.60%;line-height: 15px;}
	.release-song{top: 89.36%;font-size: 10px;}
	.release-singer{font-size: 8px;}
	.release-date{font-size: 10px;}
	.news-title{font-size: 12px;}
	.news-time{font-size: 8px;}
	.news-about{font-size: 6px;}
	.hbtn2 {font-size: 10px;top: 84.57%;left: 48.98%;}
	.index-connect-about{font-size: 8px;line-height: 25px;}
	.message-item-text{font-size: 10px;}
	.message-text{font-size: 10px;}
	.hbtn3{font-size: 10px;top: 80.57%;left: 24.08%;}
	.index-connect-follow{font-size: 6px;left: 44.96%;}
	.index-connect-follow a{font-size: 6px;}
}
/* 设置了浏览器宽度不大于1200px时的样式 */

/*901*3783*/
/* @media screen and (max-width: 901px) {
	.index-page-left{height: 3783px;}
	.index-body{height: 3783px;}
	.index-page-right{height: 3783px;}
}*/
/* 设置了浏览器宽度不大于901px时的样式 */

/*500*2100*/
/*@media screen and (max-width: 500px) {
	.index-page-left{height: 2100px;}
	.index-body{height: 2100px;}
	.index-page-right{height: 2100px;}
}*/
/* 设置了浏览器宽度不大于500px时的样式 */

/*将浮动元素居中的方法
.public-footer .footer-logo{
	float: left;
	height: 110px;
	width: 236px;
	margin-left:50%;
	position:relative;
	left:-118px;
	background: url("../img/index-footer-logo.png");
}*/

.index-page-left{
	width: 5%;
	background: #ffffff;
	float: left;
	position: relative;
}

.index-page-left .index-page-left-line{
	width: 3.3%;
	height: 0.63%;
	position: absolute;
	top: 2.3%;
	left: 45.1%;
	background: #f4c4c7;
}

.index-page-left .index-page-left-text{
	width: 13.2%;
	height: 2.6%;
	position: absolute;
	top: 3.1%;
	left: 39.6%;
}

.index-page-left .index-page-left-text img{
	width: 100%;
	height: 100%;
}

.index-page-right{
	width: 5%;
	background: #ffffff;
	float: left;
	position: relative;
}

.index-page-right .index-page-right-text{
	width: 13.2%;
	height: 1.7%;
	position: absolute;
	top: 12.4%;
	left: 39.6%;
}

.index-page-right .index-page-right-line{
	width: 3.3%;
	height: 0.63%;
	position: absolute;
	top: 14.4%;
	left: 45.1%;
	background: #f4c4c7;
}

.index-page-right .index-page-right-text img{
	width: 100%;
	height: 100%;
}

.index-body{
	width: 90%;
	float: left;
}

.public-header{
	/*width: 1375px;*/
	height: 2.29%;
	width: 100%;
	float: left;
	background: #ffffff;
	position: relative;
}

.public-header .header-logo{
	position: absolute;
	top: 38.2%;
	left: 0%;
	width: 7.2%;
	height: 13.5%;
}

.public-header .header-logo a{
	display:inline-block;
}

.public-header .header-logo img{
	width: 100%;
	height:100%;
}

.public-header .header-menu{
	position: absolute;
	top: 41%;
	right: 0%;
	width: 1.45%;
	height: 10.1%;
}

.public-header .header-menu a{
	display:inline-block;
}

.public-header .header-menu img{
	width: 100%;
	height:100%;
}

/*这里的relative是为了使内部元素可以absulute*/
.index-banner{
	/*height: 818px;*/
	/*width: 1375px;*/
	width: 100%;
	height: 12.79%;
	background: #ffffff;
	float: left;
	position: relative;
}

.index-banner .index-banner-bg{
	/*height: 818px;*/
	/*width: 1375px;*/
	height: 100%;
	width: 100%;
	/*background: url('../img/index-banner-bg.png');*/
	overflow: hidden;
}

.index-banner .index-banner-bg img{
	height: 100%;
	width: 100%;
}

.index-banner .index-banner-text{
	width: 39%;
	height: 21.81%;
	position: absolute;
	top: 32.7%;
	left: 30.8%;
}

.index-banner .index-banner-text img{
	height: 100%;
	width: 100%;
}

.index-banner .index-banner-btn{
	position: absolute;
	top: 57.8%;
	left: 48.3%;
	height: 4.90%;
	width: 2.91%;
}

.index-banner .index-banner-btn a{
	display:inline-block;
}

.index-banner .index-banner-btn img{
	width: 100%;
	height:100%;
}

.index-featurealbum{
	/*height: 746px;*/
	/*width: 1375px;*/
	height: 11.689%;
	width: 100%;
	background: #ffffff;
	float: left;
	position: relative;
}

.index-featurealbum .index-featurealbum-info-line{
	width: 0.1743%;
	height: 5.495%;
	position: absolute;
	top: 0%;
	left: 14.29%;
	background: #f4c4c7;
}

/*旋转字体需要先定位再旋转*/
.index-featurealbum .index-featurealbum-info-time{ 
	position: absolute;
	font-size:12px;
	font-family: Montserrat Regular;
	display:block;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
} 

.index-featurealbum .index-featurealbum-bg{
	width: 29.11%;
	height: 88.03%;
	position: absolute;
	top: -15.9%;
	left: 15.85%;
}

.index-featurealbum .index-featurealbum-bg img{
	width: 100%;
	height: 100%;
}

.index-featurealbum .index-featurealbum-bg-btn{
	width: 8.192%;
	height: 15.19%;
	position: absolute;
	top:41.70%;
	left:26.79%;
}

.index-featurealbum .index-featurealbum-bg-btn a{
	display:inline-block;
}

.index-featurealbum .index-featurealbum-bg-btn img{
	width: 100%;
	height: 100%;
}

.index-featurealbum .index-featurealbum-bg-text{
	font-family: Montserrat Regular;
	position: absolute;
	text-align:center;
	color: #808080;
	top: 59.59%;
	left: 21.44%
}

.index-featurealbum .index-featurealbum-bg-text a{
	font-family: Montserrat Bold;
	color: #000000;
	display: inline-block;
	text-decoration:underline;
}

.index-featurealbum .index-featurealbum-right-line{
	width: 2.905%;
	height: 0.323%;
	position: absolute;
	top:9.806%;
	left:49.09%;
	background: #f4c4c7;
}

.index-featurealbum .index-featurealbum-album-name{
	font-family: PlayfairDisplay Regular;
	position: absolute;
	top:5.32%;
	left:53.28%;
}

.index-featurealbum .index-featurealbum-album-about{
	font-family: Montserrat Regular;
	position: absolute;
	color: #808080;
	top:16.16%;
	left:49.09%;
}

.index-featurealbum .index-featurealbum-album-playboard{
	position: absolute;
	width: 35.67%;
	height: 19.61%;
	top: 29.20%;
	left: 49.09%;
}

.index-featurealbum .index-featurealbum-album-playboard img{
	width: 100%;
	height: 100%;
}

.index-featurealbum .index-featurealbum-album-progressbar{
	position: absolute;
	background: #f4c4c7;
	width: 14.99%;
	height: 0.323%;
	top:38.40%;
	left: 50.19%;
}

.index-featurealbum .index-featurealbum-album-song{
	font-family: Montserrat Bold;
	position: absolute;
	text-transform: uppercase;
	top: 31.68%;
	left: 51.84%;
}

.index-featurealbum .index-featurealbum-album-singer{
	font-family: Montserrat Regular;
	color: #808080;
	position: absolute;
	top: 34.68%;
	left: 51.84%;
}

.index-featurealbum .index-featurealbum-album-currenttime{
	position: absolute;
	font-family: Montserrat Regular;
	color: #000000;
	top: 33.78%;
	left: 76.06%;
}

.index-featurealbum .index-featurealbum-album-totalltime{
	position: absolute;
	font-family: Montserrat Regular;
	color: #000000;
	top: 33.78%;
	left: 78.15%;
}

.index-featurealbum .index-featurealbum-album-before{
	position: absolute;
	width: 0.871%;
	height: 2.37%;
	top: 41.40%;
	left: 55.09%;
}

.index-featurealbum .index-featurealbum-album-before a{
	display:inline-block;
}

.index-featurealbum .index-featurealbum-album-before img{
	width: 100%;
	height: 100%;
}

.index-featurealbum .index-featurealbum-album-play{
	position: absolute;
	width: 1.16%;
	height: 2.37%;
	top: 41.40%;
	left: 66.12%;
}

.index-featurealbum .index-featurealbum-album-play a{
	display:inline-block;
}

.index-featurealbum .index-featurealbum-album-play img{
	width: 100%;
	height: 100%;
}

.index-featurealbum .index-featurealbum-album-next{
	position: absolute;
	width: 0.871%;
	height: 2.37%;
	top: 41.40%;
	left: 76.64%;
}

.index-featurealbum .index-featurealbum-album-next a{
	display:inline-block;
}

.index-featurealbum .index-featurealbum-album-next img{
	width: 100%;
	height: 100%;
}

.index-featurealbum .index-featurealbum-album-list{
	position: absolute;
	width: 34.99%;
	height: 45%;
	top: 50.96%;
	left: 49.09%;
}

.index-featurealbum .index-featurealbum-album-list .list-item{
	width: 100%;
	height: 25%;
	position: relative;
}

.index-featurealbum .index-featurealbum-album-list .list-item-btn{
	width: 9.59%;
	height: 53.99%;
	position: absolute;
	top: 0%;
	left: 1.5%;
}

.index-featurealbum .index-featurealbum-album-list .list-item img{
	width: 100%;
	height: 100%;
}

.index-featurealbum .index-featurealbum-album-list .list-item .list-item-song{
	font-family: Montserrat Regular;
	position: absolute;
	text-transform: uppercase;
	top: 5.74%;
	left: 13.47%;
}

.index-featurealbum .index-featurealbum-album-list .list-item .list-item-singer{
	font-family: Montserrat Regular;
	color: #808080;
	position: absolute;
	top: 25.86%;
	left: 13.47%;
}

.index-featurealbum .index-featurealbum-album-list .list-item .list-item-time{
	font-family: Montserrat Regular;
	position: absolute;
	top: 7.66%;
	left: 89.80%;
}

.index-featurealbum .index-featurealbum-album-list .list-item .list-item-buy{
	font-family: Montserrat Regular;
	color: #808080;
	text-decoration:underline;
	text-transform: uppercase;
	position: absolute;
	top: 38.31%;
	left: 83.90%;
}

.index-featurealbum .index-featurealbum-album-list .list-item .list-item-line{
	width: 87.5%;
	height: 0.957%;
	position: absolute;
	background: #ededed;
	top: 67.05%;
	left: 12.64%;
}

.index-biosection{
	/*height: 767px;*/
	/*width: 1375px;*/
	height: 12.018%;
	width: 100%;
	background: #a0f9bd;
	float: left;
	position: relative;
}

.index-biosection .index-biosection-bg{
	height: 100%;
	width: 100%;
}

.index-biosection .index-biosection-bg img{
	width: 100%;
	height: 100%;
}

.index-biosection .index-biosection-title{
	width: 19.23%;
	height: 18.18%;
	position: absolute;
	top: 22.15%;
	left: 15.51%;
}

.index-biosection .index-biosection-title img{
	width: 100%;
	height: 100%;
}

.index-biosection .index-biosection-text{
	font-family: Montserrat Regular;
	width: 44.46%;
	position: absolute;
	top: 45.97%;
	left: 3.66%;
	text-align: center;
}

/*用btn标签写的按钮*/
/*.index-biosection .index-biosection-btn{
	position: absolute;
	top: 61.23%;
	left: 19.17%;
	width: 12.13%;
	height: 7.25%;
	outline: none;
	border: none;
	border-radius: 8px;
	box-shadow:0 0 10px #d4d4d4;
	background: #f4c4c7;
	font-family: Montserrat Regular;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 2px;
	text-align: center;
}

.index-biosection-btn:hover {
	background-color:#f3afb4;
}*/
/*active是点击之后的状态*/
/*.index-biosection-btn:active {
	position: absolute;
	top: 61.23%;
	left: 19.17%;
}
*/

/*hbtn是公共类，可以反复使用*/
.index-biosection .hbtn {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  padding-top: 1.28%;
  text-align: center;
  border: none;
  text-decoration: none;
  border-radius:10px;
  letter-spacing: 1px;
  font-family: Montserrat Regular;
  text-transform: uppercase;
  color: #000000;
  white-space: nowrap;
  z-index: 0;
  box-shadow:0 0 10px #d4d4d4;
  background: #f4c4c7;
  width: 10.62%;
  height: 4.26%;
}

.index-biosection .index-biosection-btn:before {
  position: absolute;
  content: '';
  box-sizing: border-box;
  -webkit-transition: 1.8s;
  transition: 1.8s;
  z-index: -1;
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: transparent transparent transparent #ffffff;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  /*opacity: 1;*/
}

.index-biosection .index-biosection-btn:hover:before {
  border-width: 165px 0 0 165px;
}

.index-biosection .index-biosection-btn:after {
  position: absolute;
  content: '';
  box-sizing: border-box;
  -webkit-transition: 1.8s;
  transition: 1.8s;
  z-index: -1;
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: transparent #ffffff transparent transparent;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
}

.index-biosection .index-biosection-btn:hover:after {
  border-width: 0 165px 165px 0;
}

.index-biosection .index-biosection-btn{
  margin-left: 180px;
  color: #ffffff;
  transition: color 0.3s ease,
  background 0s ease;
  position: absolute;
}

.index-biosection .index-biosection-btn:hover {
  margin-left: 180px;
  color: #f4c4c7;
  transition: color 0.3s ease,
  background 0s 0.3s ease;
}

.index-release{
	/*height: 1388px;*/
	/*width: 1375px;*/
	width: 100%;
	height: 21.748%;
	background: #8d97fa;
	float: left;
	position: relative;
}

.index-release .index-release-bg{
	height: 100%;
	width: 100%;
}

.index-release .index-release-bg img{
	height: 100%;
	width: 100%;
}

.index-release .index-release-title{
	width: 23.41%;
	height: 7.31%;
	position: absolute;
	top: 7.07%;
	left: 38.46%;
}

.index-release .index-release-title img{
	height: 100%;
	width: 100%;
}

.index-release .index-release-text{
	width: 47.06%;
	color: #9d9d9d;
	font-family: Montserrat Regular;
	position: absolute;
	left: 26.69%;
	text-align: center;
}

.index-release .index-release-text-release-bg{
	width: 64.24%;
	height: 70.08%;
	position: absolute;
	top: 23.30%;
	left: 17.85%;
	background: #ffffff;
	box-shadow:0 0 10px #c6c4c4;
}

.index-release .index-release-text-release-list{
	position: absolute;
	width: 54.90%;
	height: 59.49%;
	top: 29.22%;
	left: 22.54%;
}

.index-release .index-release-text-release-list .release-item{
	width: 44.44%;
	height: 47.42%;
	position: relative;
	float: left;
	margin-right: 2.25%;
	margin-left: 2.88%;
	margin-bottom: 6%;
}

.index-release .index-release-text-release-list .release-item .release-photo{
	position: absolute;
	width: 100%;
	height: 86.06%;
	background: #c8c8c8;
	top: 0%;
	left: 0%;
}

.index-release .index-release-text-release-list .release-item .release-line{
	position: absolute;
	width: 11.90%;
	height: 0.61%;
	background: #f4c4c7;
	top: 92.41%;
	left: 0%;
}

.index-release .index-release-text-release-list .release-item .release-song{
	position: absolute;
	left: 14.28%;
	font-family: PlayfairDisplay Regular;
}

.index-release .index-release-text-release-list .release-item .release-singer{
	position: absolute;
	top: 95.13%;
	left: 14.28%;
	font-family: PlayfairDisplay Regular;
	color: #9b9b9b;
}

.index-release .index-release-text-release-list .release-item .release-date{
	position: absolute;
	top: 91.59%;
	left: 79.76%;
	font-family: Montserrat Regular;
}

.index-blog{
	/*height: 844px;*/
	/*width: 1375px;*/
	width: 100%;
	height: 13.224%;
	background: #f7f498;
	float: left;
	position: relative;
}

.index-blog .index-blog-bg{
	width: 100%;
	height: 100%;
}

.index-blog .index-blog-bg img{
	width: 100%;
	height: 100%;
}

.index-blog .index-blog-title{
	width: 6.15%;
	height: 8.79%;
	position: absolute;
	top: 11.63%;
	left: 71.76%;
}

.index-blog .index-blog-title img{
	width: 100%;
	height: 100%;
}

.index-blog .index-blog-news{
	width: 50.02%;
	height: 57.60%;
	position: absolute;
	top: 21.00%;
	left: 49.97%;
}

.index-blog .index-blog-news .news-item{
	width: 100%;
	height: 33.33%;
	position: relative;
	float: left;
}

.index-blog .index-blog-news .news-item .news-title{
	position: absolute;
	width: 56.56%;
	text-align: center;
	top: 27.09%;
	left: 21.37%;
	font-family: PlayfairDisplay Regular;
}

.index-blog .index-blog-news .news-item .news-time{
	position: absolute;
	width: 30.31%;
	text-align: center;
	top: 45.81%;
	left: 34.12%;
	font-family: Montserrat Regular;
	color: #9b9b9b;
}

.index-blog .index-blog-news .news-item .news-about{
	position: absolute;
	width: 84.90%;
	text-align: center;
	top: 64.03%;
	left: 8.24%;
	font-family: Montserrat Regular;
	color: #9c9c9c;
}

.index-blog .index-blog-news .news-item .news-line{
	position: absolute;
	width: 100%;
	height: 0.49%;
	top: 98%;
	left: 0%;
	background: #e2e2e2;
}

.index-blog .hbtn2 {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  padding-top: 1.28%;
  text-align: center;
  border: none;
  text-decoration: none;
  border-radius:10px;
  letter-spacing: 1px;
  font-family: Montserrat Regular;
  text-transform: uppercase;
  color: #000000;
  white-space: nowrap;
  z-index: 0;
  box-shadow:0 0 10px #d4d4d4;
  background: #f4c4c7;
  width: 10.62%;
  height: 4.26%;
}

.index-blog .index-blog-btn:before {
  position: absolute;
  content: '';
  box-sizing: border-box;
  -webkit-transition: 1.8s;
  transition: 1.8s;
  z-index: -1;
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: transparent transparent transparent #ffffff;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  /*opacity: 1;*/
}

.index-blog .index-blog-btn:hover:before {
  border-width: 0 0 165px 165px;
}

.index-blog .index-blog-btn:after {
  position: absolute;
  content: '';
  box-sizing: border-box;
  -webkit-transition: 1.8s;
  transition: 1.8s;
  z-index: -1;
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: transparent #ffffff transparent transparent;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
}

.index-blog .index-blog-btn:hover:after {
  border-width: 165px 165px 0 0;
}

.index-blog .index-blog-btn{
  margin-left: 180px;
  color: #ffffff;
  transition: color 0.3s ease,
  background 0s ease;
  position: absolute;
}

.index-blog .index-blog-btn:hover {
  margin-left: 180px;
  color: #f4c4c7;
  transition: color 0.3s ease,
  background 0s 0.3s ease;
}

.index-connect{
	/*height: 929px;*/
	/*width: 1375px;*/
	width: 100%;
	height: 14.556%;
	float: left;
	position: relative;
}

.index-connect .index-connect-title{
	width: 15.80%;
	height: 10.40%;
	position: absolute;
	top: 9.99%;
	left: 42.06%;
}

.index-connect .index-connect-title img{
	width: 100%;
	height: 100%;
}

.index-connect .index-connect-about{
	position: absolute;
	width: 47.06%;
	left: 27.43%;
	top: 24.85%;
	text-align: center;
	font-family: Montserrat Regular;
}

.index-connect .index-connect-email-bg{
	position: absolute;
	width: 66.24%;
	height: 54.67%;
	top: 35.38%;
	left: 16.85%;
	box-shadow:0 0 10px #cacaca;
}

.index-connect .index-connect-message{
	position: absolute;
	width: 62.28%;
	height: 14.60%;
	top: 41.13%;
	left: 20.80%;
}

.index-connect .index-connect-message .message-item{
	position: relative;
	width: 43.65%;
	height: 50%;
	float: left;
	margin-right: 5.90%;
}

.index-connect .index-connect-message .message-item .message-item-text{
	position: absolute;
	font-family: Montserrat Regular;
	color: #9e9e9e;
	width: 20.81%;
	top: 58.53%;
	left: 0%;
}

.index-connect .index-connect-message .message-item .message-item-line{
	position: absolute;
	width: 100%;
	height: 2.24%;
	top: 92%;
	left: 0%;
	background: #000000;
}

.index-connect .message-line{
	position: absolute;
	width: 58.39%;
	height: 0.16%;
	top: 75.18%;
	left: 20.80%;
	background: #000000;
}

.index-connect .message-text{
	position: absolute;
	width: 58.39%;
	top: 61.01%;
	left: 20.80%;
	font-family: Montserrat Regular;
	color: #9e9e9e;
}

.index-connect .hbtn3 {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  padding-top: 1.28%;
  text-align: center;
  border: none;
  text-decoration: none;
  border-radius:10px;
  letter-spacing: 1px;
  font-family: Montserrat Regular;
  text-transform: uppercase;
  color: #000000;
  white-space: nowrap;
  z-index: 0;
  box-shadow:0 0 10px #d4d4d4;
  background: #f4c4c7;
  width: 10.62%;
  height: 4.26%;
}

.index-connect .index-connect-btn:before {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 1;
}

.index-connect .index-connect-btn:hover:before {
  height: 50%;
}

.index-connect .index-connect-btn:after {
  position: absolute;
  content: '';
  background: #ffffff;
  transition-duration: .3s;
  z-index: -1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 1;
}

.index-connect .index-connect-btn:hover:after {
  height: 50%;
}

.index-connect .index-connect-btn{
  margin-left: 180px;
  color: #ffffff;
  transition: color 0.3s ease,
  background 0s ease;
  position: absolute;
}

.index-connect .index-connect-btn:hover {
  margin-left: 180px;
  color: #f4c4c7;
  transition: color 0.3s ease,
  background 0s 0.3s ease;
}

.index-connect .index-connect-follow{
	position: absolute;
	width: 9.81%;
	top: 95.24%;
	font-family: Montserrat Regular;
	color: #a2a2a2;
	text-align: center;
}

.index-connect .index-connect-follow a{
	font-family: Montserrat Bold;
	color: #000000;
	display: inline-block;
	text-decoration:underline;
}

.index-instagram{
	/*height: 321px;*/
	/*width: 1375px;*/
	height: 5.029%;
	width: 100%;
	position: relative;
	float: left;
}

.index-instagram .index-instagram-bg{
	height: 100%;
	width: 100%;
}

.index-instagram .index-instagram-bg img{
	height: 100%;
	width: 100%;
}

.public-footer{
	width: 100%;
	height: 5.552%;
	background: #f6f6f6;
	float: left;
	position: relative;
}

.public-footer .footer-logo{
	height: 40.18%;
	width: 13.71%;
	position: absolute;
	top: 12.2%;
	left: 42.8%;
}

.public-footer .footer-logo img{
	width: 100%;
	height: 100%;
}

.public-footer .footer-email{
	/*width:420px;
	height:49px;*/
	width: 24.40%;
	height: 11.06%;
	background: #ffffff;
	box-shadow: 5px 5px 20px #ebebeb;
	position:absolute;
	top: 59.8%;
	left: 37.76%;
}

.public-footer .footer-email-line{
	float: left;
	width:0.23%;
	height:100%;
	position:absolute;
	top: 0%;
	left: 82.76%;
	background:#ebebeb;
}

.public-footer .footer-input{
	position: absolute;
/*	width:348px;
	height:49px;*/
	width: 78.34%;
	height: 100%;
	top: 0%;
	left: 4.52%;
	border: 0px; 
	outline: none;
	font-size: 12px;
	color: #a4a4a4;
	font-family: Montserrat Regular;
}

/*由于移动端显示不正常，top属性放在了前面*/
.public-footer .footer-email-logo{
	position: absolute;
	left: 59.55%;
	width: 1.04%;
	height: 3.38%;
}

.public-footer .footer-email-logo a{
	display:inline-block;
}

.public-footer .footer-email-logo img{
	width: 100%;
	height:100%;
}

.public-footer .footer-social{
	height: 15.35%;
	/*width: 40%;*/
	/*width: 70%;*/
	position: absolute;
	top: 87.07%;
	/*left: 32.43%;*/
	/*left: 20%;*/
}

.public-footer .footer-social .item{
	float: left;
	margin-right: 6.57%;
}

.public-footer .footer-social a{
	color: #000000;
	font-family: Montserrat Bold;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.footer-copyright{
	height: 0.78%;
	width: 100%;
	position: relative;
	float: left;
}

.footer-copyright .footer-copyright-text{
	font-size: 10px;
	font-family: Montserrat Regular;
	color: #a2a2a2;
	text-align:center;
	position: absolute;
	top: 48.3%;
	/*left: 43.57%;*/
}

.footer-copyright .footer-copyright-text a{
	font-size: 11px;
	font-family: Montserrat Bold;
	color: #000000;
	display: inline-block;
	text-decoration:underline;
}
